.profile{
    width: 100vw;
    display: flex;
    justify-content:flex-start;
    /* padding: 3rem; */
}

.profile-image{
    width:60vw;
    height: auto;
    padding:3rem;
}

.profile-image img{
    width:100%;
    height: auto;
}
.profile-intro{
    width:60vw;
    height: auto;
    padding:3rem;
}

@media screen and (max-width: 900px) {
    .profile{
        display: flex;  
        flex-direction: column;
        align-items: center;
 
    }
}
