/* cursor */

  .cursor{
    height:40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(163, 158, 237),rgb(237, 163, 226));
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    transition: 0.6s ease-in-out;
    animation: animate 0.6s ease-in-out infinite;
    /* box-shadow: 0px 0px 10px 10px pink; */
}

  
body {
    width: 100vw;
    font-family: sans-serif;
    /* padding: 2rem; */
    background-color: rgb(228, 228, 228);
    /* margin: 2rem; */
}
/* h1,h2,h3,h4{
    font-family:'Brick', sans-serif;
} */

header {
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color:linear-gradient(135deg, rgb(163, 158, 237),rgb(237, 163, 226)); */
}

a{
    text-decoration: none;
    color: #000000;
    /* font-style: rgb(163, 158, 237); */
    

}

h1,h2,h3,h4{
    color:#000000;
    font-family: 'Monument Extended';
}

p{
    color:#000000;
    font-family: 'Roobert-Regular';
    
}

/* add text shadow to the hovered texts: https://www.youtube.com/watch?v=I_RhD99rR0c */
a:hover, a:focus{
    color:rgb(163, 158, 237);
    text-shadow: 0 0 9px rgb(198, 194, 255);
    transition: all 1s ease;
}

h1{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 2.0rem;
}
h1:hover, h1:focus{
    color:rgb(163, 158, 237);
    font-family:'Monument Extended';
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 2.0rem;

     transition: all 1s ease;
}

nav{
    display: flex;  
    justify-content: flex-start;
    margin-right: 2rem;
    margin-top: 2.5rem;
}

nav a{
    /* background-color: rgb(255, 64, 0); */
    
      color:rgb(0, 0, 0);
      font-family:'Monument Extended';
      margin-right: 2rem;
      font-size: 1.0rem;
      text-decoration: none;
}
nav a:hover, .nav a:focus{
 
    color: rgb(163, 158, 237);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

nav span a{
        color: rgb(163, 158, 237);
        text-shadow: 0 0 9px rgb(198, 194, 255);
}

nav span a:hover, nav span a:focus{
    /* transition: 1s ease-in-out; */
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
    transition: all 1s ease;
}

.main-intro{
    /* border: 1px solid rgb(0, 0, 0); */
    width:100VW;
    height: 50vw;
    display: flex;
    justify-content: center;
}

.main-intro-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-intro-check-project-guidance{
    margin-top:10rem;

}

.main-intro-headline span h2{
    color: rgb(163, 158, 237);
    text-shadow: 0 0 9px rgb(198, 194, 255);
}
.main-intro-headline span h2:hover, .main-intro-headline span h2:focus{
    /* -webkit-transition: all 1s ease; */
    transition: all 1s ease;
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
    
}


.main-intro-headline-big{
    /* margin-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 6rem; */
    font-family:'Monument Extended';
    color:rgb(60, 60, 60);
    text-decoration: bold;
    font-size: 3.0rem;
}
.main-intro-headline-small{
    margin-top: 1rem;

    font-family:'Monument Extended';
    color:rgb(60, 60, 60);
    text-decoration: none;
    font-size: 1.0rem;
}

.projects-container{
    width: 100vw;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.section-header{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 80vw;
    height: auto;

}
.section-header:hover,.section-header:focus{
    text-shadow: 0 0 6px rgb(201, 198, 244);
    transition: 0.6s ease-out;
}

.section-header h2{
    color:rgb(0, 0, 0);
    font-size: 3rem;
    font-family:'Monument Extended';
}

.section-header h2:hover, .section-header:focus{
    color: rgb(163, 158, 237);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}
/* project looping animation: https://stackoverflow.com/questions/45847392/pure-css-continuous-horizontal-text-scroll-without-break */
/* .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 9s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translate(100, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }   */

.projects{
    width: 90vw;
    height: auto;
    
}

.project-card{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(163, 158, 237); */
    box-shadow: 0 0 10px rgb(149, 148, 150);
    margin-bottom: 3rem;
}

.project-card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-card h3{
    color:rgb(0, 0, 0);

}

.project-card p{
    width: 100%;
    color:rgb(0, 0, 0);
    margin-top: 2rem;


}


/* 13 */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-13 {
    background-color: rgb(163, 158, 237);
    background-image: linear-gradient(315deg, rgb(160, 209, 255) 0%, rgb(163, 158, 237) 74%);
    border: none;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(163, 158, 237);
    background-image: linear-gradient(315deg, rgb(160, 209, 255) 0%, rgb(163, 158, 237) 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }
/* button {
    opacity:0.7;
    padding: 15px 32px;
    border: none;
    background-color: rgb(163, 158, 237);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgb(163, 158, 237);
}

button:hover, button:focus {

    transition: all 1s ease;
    padding: 15px 32px;
    border: none;
    background-color: rgb(160, 209, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 0 6px rgb(160, 209, 255);
}
   */
.project-card img{
    width: 40vw;
    height: auto;
    /* margin: 2rem; */

}
.project-card-image{
    width: 40vw;
    margin: 2rem;
    height: auto;
	padding: 0;
	/* background: #fff; */
	overflow: hidden;
}

.project-card-image img {
    
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project-card-image:hover img{
    -webkit-transform: scale(1.06);
	transform: scale(1.06);
    opacity:0.5;
}

footer {
    background-color:rgb(228, 228, 228);
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    padding: 30px 0;
    
  }
  
  .footer-content {
    display: flex;
    text-align:left;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  .footer-content a{
    text-decoration: none;
    color:#000000;

  }
  .footer-content a:hover, .footer-content a:hover{
    text-decoration: none;
    color:rgb(163, 158, 237);
    transition: all 1s ease;
  }
  
  .left-section,
  .right-section {
    width: 45%;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .bottom-section p {
    font-size: 14px;
  }

  


  
@media screen and (max-width: 600px) {
    header {
        width: 100vw;
        height:auto;
        flex-direction: column;
        align-items: center; 
    }

    h1 {
        margin-left: 0; /* Remove the left margin on the h1 element */
    }

    nav {
        /* width: 100%; */
        display: flex;  
        justify-content: space-between;
        margin-right: 0; 
        margin-top: 1rem; 
    }

    nav a {
        margin-right: 2rem; 
        margin-bottom: 1rem; 
    }

    .project-card img {
        width: 100%; 
        height: auto;
    }

    footer {
        width: 98%;
        padding: 20px 0; 
    }

    .footer-content {
        flex-direction: column; 
        align-items: center;
    }

    .left-section,
    .right-section {
        width: 100%; 
        text-align: center; 
        margin-bottom: 1rem; 
    }

    .bottom-section p {
        font-size: 12px; 
    }

    .main-intro{
        /* border: 1px solid rgb(0, 0, 0); */
        width:100VW;
        height: 100vw;
        display: flex;
        align-items: center;
    }
    .main-intro-headline{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .projects{
        width: 90vw;
        height: auto;
        
    }
    
    .project-card{
        width:90vw;
        /* display: flex;
        flex-direction: column; */
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 0 10px #3a3a3a;
        margin-bottom: 3rem;
    }
    
    .project-card-detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center;  */
        width: 90vw;
        /* margin-left: 2rem; */
    }
    
    .project-card h3{
        justify-content: center;
        color:rgb(0, 0, 0);
        margin-top: 2rem;
    }
    
    .project-card p{
        width: 100%;
        color:rgb(0, 0, 0);
        margin-top: 2rem;
    
    
    }
    button {
        padding: 15px 32px;
        border: none;
        background-color: antiquewhite;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 2rem;
        cursor: pointer;
    }
      
    .project-card img{
        width: 90vw;
        height: auto;
        /* margin: 2rem; */
    
    }
    .project-card-image{
        width: 90vw;
        margin: 2rem;
        height: auto;
        padding: 0;
        /* background: #fff; */
        overflow: hidden;
    }
    
    .project-card-image img {
        
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}
