/* title animated-text effect */
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }


span.dotted-purple{
    border-bottom: 1px dashed rgb(163, 158, 237);
    text-decoration: none; 
    color: rgb(163, 158, 237);;
} 

span.dotted-blue{
    border-bottom: 1px dashed rgb(163, 158, 237);
    text-decoration: none; 
    color: rgb(163, 158, 237);
} 
span.dotted-purple:hover,span.dotted-purple:focus{
    transition: all 1s ease;
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
}
span.dotted-blue:hover,span.dotted-blue:focus{
    transition: all 1s ease;
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
}

body {
    width: 100vw;
    font-family: sans-serif;
    /* padding: 2rem; */
    background-color: rgb(228, 228, 228);
    /* margin: 2rem; */
}


a{
    text-decoration: none;
    color: #000000;
}

h1,h2,h3,h4{
    color:#000000;
    font-family: 'Monument Extended';
}

p{
    color:#000000;
    font-family: 'Roobert-Regular';  
}

/* add text shadow to the hovered texts: https://www.youtube.com/watch?v=I_RhD99rR0c */
a:hover, a:focus{
    color:rgb(163, 158, 237);
    text-shadow: 0 0 9px rgb(198, 194, 255);
    transition: all 1s ease;
}


header {
    width: 100vw;
    height: 15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
} 

.main-logo{
    width: 25vw;
    height: 10vh;
}
.main-logo h2{
    margin-left: 3rem;
    margin-top: 2rem;
}



nav{
    display: flex;  
    justify-content: space-between;
    margin-right: 3rem;
    margin-top: 2.5rem;
}

nav a{
    /* background-color: rgb(255, 64, 0); */
      color:rgb(0, 0, 0);
      font-family:'Monument Extended';
      margin-right: 2vw;
      font-size: 1.0rem;
      text-decoration: none;
}
nav a:hover, .nav a:focus{
 
    color: rgb(163, 158, 237);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

nav span a{
        color: rgb(163, 158, 237);
        text-shadow: 0 0 9px rgb(198, 194, 255);
}

nav span a:hover, nav span a:focus{
    /* transition: 1s ease-in-out; */
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
    transition: all 1s ease;
}

.main-intro{
    /* border: 1px solid rgb(0, 0, 0); */
    width:100VW;
    height: 30vw;
    display: flex;
    justify-content: center;
    margin-top:20vh;
    /* align-items: center; */
}

.main-intro-headline{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}


.main-intro-headline h2{
    color: rgb(163, 158, 237);
    text-shadow: 0 0 9px rgb(198, 194, 255);
    font-size: 3rem;
}

.main-intro-headline h2:hover, .main-intro-headline h2:focus{
    /* -webkit-transition: all 1s ease; */
    transition: all 1s ease;
    color: rgb(160, 209, 255);
    text-shadow: 0 0 9px rgb(194, 231, 255);
    
}

.main-intro-headline-big{

    font-family:'Monument Extended';
    color:rgb(60, 60, 60);
    text-decoration: none;
	z-index: 1;
    animation:fade-in 2s;
}

/* title fade-in animation: https://codepen.io/felixsanz/pen/dXbdKY */
    @keyframes fade-in { 
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }

.main-intro-headline-small{

    width: 50vw;
    margin-top: 0rem;
    font-family:'Monument Extended';
    color:rgb(60, 60, 60);
    text-decoration: none;
    
    
}

.main-intro-headline-small p {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.projects-container{
    width: 100vw;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.section-header{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 80vw;
    height: auto;

}
.section-header:hover,.section-header:focus{
    text-shadow: 0 0 6px rgb(201, 198, 244);
    transition: 0.6s ease-out;
}

.section-header h2{
    color:rgb(0, 0, 0);
    font-size: 3rem;
    font-family:'Monument Extended';
}

.section-header h2:hover, .section-header:focus{
    color: rgb(163, 158, 237);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

.projects{
    width: 90vw;
    height: auto;
    
}

.project-card{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(149, 148, 150);
    margin-bottom: 3rem;
    opacity: 1;
    
}

.project-card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-card h3{
    color:rgb(0, 0, 0);

}

.project-card p{
    width: 100%;
    color:rgb(0, 0, 0);
    margin-top: 2rem;

}


/* 13 */
.custom-btn {
    width: 80px;
    height: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 13px 40px;
    font-family: 'Roobert-Regular', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-13 {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(315deg, rgb(160, 209, 255) 0%, rgb(163, 158, 237) 74%);
    border: none;
    z-index: 1;
  }
  
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(315deg, rgb(160, 209, 255) 0%, rgb(163, 158, 237) 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: #fff;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }

.project-card img{
    width: 40vw;
    height: auto;
    /* margin: 2rem; */

}
.project-card-image{
    width: 40vw;
    margin: 2rem;
    height: auto;
	padding: 0;
	/* background: #fff; */
	overflow: hidden;
}

.project-card-image img {
    
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project-card-image:hover img{
    -webkit-transform: scale(1.06);
	transform: scale(1.06);
    /* opacity:0.5; */
}

footer {
    background-color:rgb(228, 228, 228);
    border-top: 1px solid rgb(185, 185, 185);
    color: #000000;
    padding: 30px 0;
    
  }
  
  .footer-content {
    display: flex;
    text-align:left;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  .footer-content a{
    text-decoration: none;
    color:#000000;

  }
  .footer-content a:hover, .footer-content a:hover{
    text-decoration: none;
    color:rgb(163, 158, 237);
    transition: all 1s ease;
  }
  
  .left-section,
  .right-section {
    width: 45%;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .bottom-section p {
    font-size: 14px;
  }

  /*PROJECTS OVERVIEW*/
  .projects-overview{
    padding-top: 10vh;
    margin: 1rem;
    width: 99vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;

  }
  .single-project-overview{
    width: 30vw;
    height: auto;
  }
  .single-project-overview-image{
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .single-project-overview-image img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .single-project-overview-image img:hover,.single-project-overview-image img:focus {
    -webkit-transform: scale(1.03);
	transform: scale(1.03);
  }
  
  
@media screen and (max-width: 600px){
    .main-intro{
        width:100VW;
        height: 70vw;
        margin-bottom: 40vh;
    }
}
  
@media screen and (max-width: 900px) {
    .main-logo{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:0;
    }
    .main-logo h2{
        margin:0;
        margin-top: 1rem;
    }
   
    .main-intro{
        width:100VW;
        height: 70vw;
        margin-bottom: 20vh;
    }

    .nav-bar{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav{
        
        margin:0;

    }
    nav a{
        font-size:16px;
        margin-left:2rem;
        margin-right:2rem;
    }
    footer {
        width: 100vw;
        padding: 20px 0; 
    }

    .footer-content {
        flex-direction: column; 
        align-items: center;
    }

    .left-section,
    .right-section {
        width: 100%; 
        text-align: center; 
        margin-bottom: 1rem; 
    }

    .bottom-section p {
        font-size: 12px; 
    }


    header{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    } 


    .project-card{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-card-detail{
        width: 70vw;
        height: auto;
        margin-left: 0rem;
        margin-top: 0rem;
        margin-bottom:2rem;
    }
    
    .project-card-detail h3{
        text-align: center;
    }
    .project-card-detail p{
        text-align: center;
        font-size: 1vw;
        margin-bottom:2rem;
    }

    .project-card-image{
        width: 90vw;
        height: auto;
        margin:0;
    }
    .project-card-image img{
        width: 100%;
        height: auto;
    }
    .project-card-detail a
    {
        align-items: center;
        text-align: center;
    }

    .main-intro-headline h2{
        width: 50vw;
        font-size: 2rem;
        text-align: center;
    }

    .main-intro-headline-small p {
        width: 100%;
        font-size: 0.5rem;
        text-align: center;
    }
    /* .custom-btn{
        width:55vw;
        height:auto;
        display: flex;
        align-items: center;
    }
    .btn-13{
        align-items: center;
    }
} */
}