
body {
    font-family: sans-serif;
    /* padding: 2rem; */
    background-color: beige;
    /* margin: 1rem; */
}
h1,h2,h3,h4{
    font-family:'Monument Extended';
}
header {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;

}
h1{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 2.0rem;
}
h1:hover, h1:focus{
    color:rgb(255, 60, 60);
    font-family:'Monument Extended';
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 2.0rem;
}

nav{
    margin-right: 2rem;
    margin-top: 2.5rem;
}

nav a{
    /* background-color: rgb(255, 64, 0); */
    
      color:rgb(0, 0, 0);
      font-family:'Monument Extended';
      margin-right: 2rem;
      font-size: 1.0rem;
      text-decoration: none;
}
nav a:hover, .nav a:focus{
 
    color: rgb(255, 60, 60);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

.main-intro{
    border: 1px solid black;
    width:100%;
    height: 80vh;
}

.main-intro-headline{
    display: flex;
   
}
.main-intro-headline p{
    margin: 4rem;
    font-family:'Monument Extended';
    /* justify-content: center; */
    text-decoration: none;
    font-size: 5.0rem;
}

.projects{
    border: 1px solid black;
}

.section-header{
    border: 1px solid black;
}

.section-header h2{
    font-size: 2rem;
    margin-left: 2rem;
    font-family:'Monument Extended';
}

.section-header h2:hover, .section-header h2:focus{
    color: rgb(255, 60, 60);
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
   