body{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
}

.project-intro-description{
    width: 100vw;
    border: 1px solid rgb(0, 0, 0); 

}

.project-intro-description-title{
    margin-top: 10rem;
    margin-left: 6rem;
}
.project-intro-description-title h2{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
    font-size: 3rem;
}

.project-intro-description-description{
    margin-left: 6rem;
    width: 50%;
}

.project-intro-description-description p{
    color:rgb(0, 0, 0);
    font-family:'Roobert-Regular';
    font-size: 1rem;
}

.project-intro-description-everything-at-a-glance{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left:6rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.Project-type{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}

.Project-type p{
    color: rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}

.Roles{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Roles p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}

.Date{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Date p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}
.Tools{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Tools p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
} 

/* detail */

.project-detail{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.project-intro-img{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



.project-intro{
    margin: 4rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}

.project-intro p{
    width: 80%;
}

.project-intro-relate-image{
    margin-top: 4rem;
    margin-right: 14rem;
    margin-bottom: 4rem;
}

.project-intro-relate-image img{
    width: 25vw;
    height: auto;
}

.project-card-image{
    border: 1px solid black;
}


/* grid column */

.grids-display{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.grid-section{
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.grid-section img{
    width: 100%;
    height:auto;
}

.project-image-gallery3{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.project-image-gallery-elements{
    width: 33vw; 
    display:flex;
    flex-direction: column;
}

.project-image-gallery-elements img{
    width: 100%;
    height:auto;
}

.project-keylearnings{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


@media screen and (max-width: 1000px) {
    .project-detail{
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .project-intro-description-everything-at-a-glance{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 90%;
        align-items:flex-start;
        margin-left:6rem;
        margin-top: 3rem;
    }

    /* .project-intro-img{
    
        height:57vh;
        display:flex;
        flex-direction: column;
        margin-bottom: 5rem;
    } */

    .project-intro{
        margin: 1rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        width:100vw;
        /* height:50vh; */
    }

    .project-intro-relate-image{
        /* justify-content: center; */
        width: 100vw;
        display: flex;
    }

    .project-intro-relate-image img{
        justify-content: center;
        width: 40vw;
        height:auto;
    }

    .grids-display{
        width: 98vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .grid-section{
        width: 90%;
        margin: 1rem;
    }

    .project-image-gallery3{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    
    .project-image-gallery-elements{
        width: 100vw; 
      
    }
    
    .project-image-gallery-elements img{
        width: 100%;
        height:auto;
    }

}