body{
    background-color: black;
    border: 1px solid white;
}

.project-intro-description{
    
    width: 100vw;
    height: 100vh;
    border: 1px solid white;
    
}

.project-intro-description-title{
    margin-top: 10rem;
    margin-left: 3rem;
}
.project-intro-description-title h2{
    color:rgb(255, 255, 255);
    font-family:'Monument Extended';
    font-size: 3rem;
}

.project-intro-description-description{
    margin-left: 3rem;
    width: 50%;
}

.project-intro-description-description p{
    color:rgb(255, 255, 255);
    font-family:'Roobert-Regular';
    font-size: 1rem;
}

.project-intro-description-everything-at-a-glance{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left:3rem;
    margin-top: 3rem;
}

.Project-type{
    color:rgb(255, 255, 255);
    font-family:'Monument Extended';
}

.Project-type p{
    color: rgb(255, 255, 255);
    font-family: 'Roobert-Regular';
}

.Roles{
    color:rgb(255, 255, 255);
    font-family:'Monument Extended';
}
.Roles p{
    color:rgb(255, 255, 255);
    font-family: 'Roobert-Regular';
}

.Date{
    color:rgb(255, 255, 255);
    font-family:'Monument Extended';
}
.Date p{
    color:rgb(255, 255, 255);
    font-family: 'Roobert-Regular';
}
.Tools{
    color:rgb(255, 255, 255);
    font-family:'Monument Extended';
}
.Tools p{
    color:rgb(255, 255, 255);
    font-family: 'Roobert-Regular';
}