body{
    width: 98vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
}

.project-intro-description{
    width: 100vw;
    /* height: 90vh; */
    border: 1px solid rgb(0, 0, 0); 
    padding-right: 0.5rem;
}

.project-intro-description-title{
    margin-top: 10rem;
    margin-left: 6rem;
}
.project-intro-description-title h2{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
    font-size: 3rem;
}

.project-intro-description-description{
    margin-left: 6rem;
    width: 50%;
}

.project-intro-description-description p{
    color:rgb(0, 0, 0);
    font-family:'Roobert-Regular';
    font-size: 1rem;
}

.project-intro-description-everything-at-a-glance{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left:6rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.Project-type{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}

.Project-type p{
    color: rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}

.Roles{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Roles p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}

.Date{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Date p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
}
.Tools{
    color:rgb(0, 0, 0);
    font-family:'Monument Extended';
}
.Tools p{
    color:rgb(0, 0, 0);
    font-family: 'Roobert-Regular';
} 

/* detail */

.project-detail{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.project-intro-img{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



.project-intro{
    margin: 4rem;
    padding-left: 8rem;
    display: flex;
    /* justify-content:flex-start; */
    flex-direction: column;
    height:50vh;
}

.project-intro p{
    width: 80%;
}

.project-intro-relate-image{
    margin-top: 4rem;
    margin-right: 16rem;
    margin-bottom: 4rem;
}

.project-card-image{
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .project-detail{
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .project-intro-description-everything-at-a-glance{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 90%;
        align-items:flex-start;
        margin-left:6rem;
        margin-top: 3rem;
    }
    /* .project-intro-img{
    
        height:57vh;
        display:flex;
        flex-direction: column;
        margin-bottom: 5rem;
    } */
    .project-intro{
        margin: 1rem;
        padding-left: 1rem;
        display: flex;
        /* justify-content:flex-start; */
        flex-direction: column;
        width:100vw;
        /* height:50vh; */
    }

    .project-intro-relate-image{
        justify-content: center;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

}